@import "tailwindcss";

@font-face {
  font-family: "Lilita One";
  src: url('assets/LilitaOne/LilitaOne-Regular.ttf');
}

@font-face {
  font-family: "Libre Franklin";
  src: url('assets/LibreFranklin/LibreFranklin-VariableFont_wght.ttf');
}

#root {
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

* {
  font-family: "Libre Franklin";
}

.navbar *,
h1,
h2,
h3,
h4,
h5,
.btn * {
  font-family: "Lilita One" !important;
}
